apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: $K8S_CLUSTER_CERTIFICATE_AUTHORITY_DATA
    server: $K8S_SERVER
  name: $K8S_CLUSTER_NAME
contexts:
- context:
    cluster: $K8S_CLUSTER_NAME
    user: $K8S_USER_NAME
  name: $K8S_CONTEXT_NAME
current-context: $K8S_CURRENT_CONTEXT
kind: Config
preferences: {}
users:
- name: $K8S_USER_NAME
  user:
    client-certificate-data: $K8S_USER_CLIENT_CERTIFICATE_DATA
    client-key-data: $K8S_USER_CLIENT_KEY_DATA
